global
    log stdout format raw local0

defaults
    log global
    mode http
    timeout connect 10s
    timeout client 1m
    timeout server 1m

resolvers docker_dns
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s

frontend opensearch_front
    bind *:9200
    default_backend opensearch_back

backend opensearch_back
    balance roundrobin
    option httpchk GET /_cluster/health
    http-check expect status 200
    default-server inter 5s fall 3 rise 2 resolvers docker_dns init-addr none
    server node1 opensearch-node1:9200 check
    server node2 opensearch-node2:9200 check

listen stats
    bind *:8404
    stats enable
    stats uri /
